<div class="" data-ng-controller="MythemeController">
    <div class="row" >
        <div class="jumbotron">
            <h1>Find a Flight:</h1>
        </div>
        <form ng-submit="submit()">
            <div class="alert alert-danger animated fadeIn" ng-show="(originAirport === destinationAirport) && originAirport.length && destinationAirport.length ">Origin Airport cannot be the same as Destination Airport. Please select different airports</div>
            <div class="row" >
                <div class="form-group col-md-6">
                    <h4>Origin Airport</h4>
                    <input type="text" ng-model="originAirport" placeholder="Origin Airport" typeahead="airport for airport in airports | filter:$viewValue | limitTo:8" class="form-control" typeahead-min-length="2" class="form-control" required>

                    <!--<input type="text" ng-model="originAirport" placeholder="Origin Airport" typeahead="airport for airport in getAirport($viewValue) | limitTo:10"  typeahead-loading="loadingAirports" typeahead-no-results="noResults" typeahead-min-length="2" class="form-control" required>-->

                    <!--<i ng-show="loadingAirports" class="glyphicon glyphicon-refresh"></i>-->
                    <!--<div ng-show="noResults">-->
                        <!--<i class="glyphicon glyphicon-remove"></i> No Results Found-->
                    <!--</div>-->

                </div>
                <div class="form-group col-md-6">
                    <h4>Destination Airport</h4>

                    <input type="text" ng-model="destinationAirport" placeholder="Destination Airport" typeahead="airport for airport in airports | filter:$viewValue | limitTo:8"  typeahead-min-length="2" class="form-control"  required>

                    <!--<input type="text" ng-model="destinationAirport" placeholder="Destination Airport" typeahead="airport for airport in getAirport($viewValue) | limitTo:10" typeahead-loading="loadingAirports" typeahead-no-results="noResults" typeahead-min-length="2" class="form-control" required>-->
                    <!--<i ng-show="loadingAirports" class="glyphicon glyphicon-refresh"></i>-->
                    <!--<div ng-show="noResults">-->
                        <!--<i class="glyphicon glyphicon-remove"></i> No Results Found-->
                    <!--</div>-->
                </div>

            </div>

            <div class="row" >
                <div class="form-group col-md-6">
                    <h4>Departure Date</h4>
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="departureDate" is-open="status.opened" min-date="minDate" max-date="'2020-12-31'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"  required/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-block" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                    </p>
                </div>

                <div class="form-group col-md-6">
                    <h4>Number of passengers</h4>
                    <passenger min="passenger.min" max="passenger.max" value="passenger.value"></passenger>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-lg btn-primary center-block">Search</button>
            </div>

        </form>
    </div>

</div>




