<div class="" data-ng-controller="MythemeResultController">
    <div class="row" >
        <div class="jumbotron">
            <h1>Your have booked a flight:</h1>
            <p>From - To: {{FromTo}}</span></p>
            <p>Date: {{Date}}</p>
            <p>Passengers: {{Passengers }}</p>
            <h4>Result: {{result}} </h4>
        </div>
    </div>
</div>




